__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.env

.vscode/
.idea/

postgres_data/

*.log*.py.save
nohup.out
*.tsbuildinfo
backend/uploads/
*.save
*.tsbuildinfo
vite.config.d.ts
vite.config.js
*.save.*
*.tsx.save.*
setSidebarOpen*
{
frontend/Assignments.tsx
frontend/ReviewSubmissions.tsx
frontend/public/icons.svg
